.header {
    margin-top: 10px;
    left: 0;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: 0.4s;
    
}

.header_mini {
  margin-top: 0;
}

.header_mini .header__menu{
  box-shadow: 12px 9px 20px -2px rgba(0, 0, 0, 0.42);
}

.header__burger{
    z-index: 2;
    display: none;
    position: relative;;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}

.header__burger span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #240909;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger span:nth-child(1){
    transform: translateY(-10px);
}

.header__burger span:nth-child(3){
    transform: translateY(10px);
}

.header.open .header__burger{
    background-color: transparent;
}

.header__logo{
  margin-left: 10%;
}
.header__logo a img{
    width: 100px;
    height: 100px;
}

.header__menu {
    margin-right: 10%;
    background-color: #ffffffc4;
    border-radius: 10px;
    transition:  .4s;
    backdrop-filter: blur(10px);
}

.header__menu ul {
    width: 400px;
    position: relative; 
    display: flex;
}

.header__menu ul  li{
    position: relative; 
    list-style: none;
}

.header__menu ul  li a{
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.header__menu ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: black;
}

.header__menu ul li:hover a .icon {
    transform: translateY(-19px);
}

.header__menu ul li a .text {
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 100;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.header__menu ul li:hover a .text {
    opacity: 1;
    transform: translateY(9px);
}

.list{
    margin-left: 11%;
}

.menu__list {
    justify-content: right;
    color: #fdfdfd;
    font-weight: bold;
    font-size: 50px;
}